.feed-item {
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
  background-color: #fff;
  border-bottom: 5px solid rgb(247, 247, 247);
  padding: 10px 10px;
}

.feed-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.imgs {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .img-item {
    height: 160px;
    width: 100px;
    overflow: hidden;
    margin-right: 5px;
    border-radius: 4px;

  }

  img {
    object-fit: cover;
    height: auto;
    width: 100%;
    min-height: 100%;
  }
}

.nickname {
  font-weight: 600;
}

.time {
  color: #999999;
  font-size: 12px;
}

.sex {
  width: 13px;
}

.links {
  color: #6d75f1;

  a {
    margin-right: 5px;
    font-size: 12px;
  }
}

.feed-content>div {
  margin-top: 10px;
  font-size: 15px;
}

.feed-content .content {
  white-space: pre-line;
  font-size: 14px;
}

.more {
  text-align: center;
  margin-bottom: 10px;

  span {
    padding: 10px;
  }
}

.feed-operation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  margin: 25px 0 10px 0;

  &>div {
    margin-right: 40px;
    display: flex;
    align-items: center;
  }

  img {
    width: 15px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
  }

  i {
    font-size: 16px;
    margin-right: 3px;
    margin-top: -2px;
  }

  i.Hui-iconfont-cang2-selected {
    color: rgb(240, 249, 85)
  }

  .van-icon {
    margin-top: 0;
  }

  .is-string {
    font-size: 12px;
  }
}